.subscribe-button {
  width: 90%;

  @include media-breakpoint-up(sm) {
    width: 70%;
  }
  @include media-breakpoint-up(lg) {
    width: 50%;
  }

  .subscribe-button-input {
    padding-left: 1rem;
    border-radius: $btn-border-radius;
  }

  .subscribe-button-btn {
    text-transform: uppercase;
    padding: 0.75rem;
    border-radius: $btn-border-radius;
  }
}
