mixin subscribe_button(text)
  form#mc-embedded-subscribe-form.validate(action='https://twitter.us18.list-manage.com/subscribe/post?u=54beafb39ac5189cc9994247b&amp;id=f95152f72e', method='post', name='mc-embedded-subscribe-form', target='_blank')
    .subscribe-button.m-auto
      .input-group
        input#mce-EMAIL.shadow-sm.subscribe-button-input.text-primary.form-control(type='email', name='EMAIL' placeholder='Email adresse' required="")
        div(style='position: absolute; left: -5000px;', aria-hidden='true')
          input(type='text', name='b_f2d244c0df42a0431bd08ddea_aeaa9dd034', tabindex='-1', value='')
        .input-group-append
          input#mc-embedded-subscribe.shadow-sm.btn.btn-secondary.subscribe-button-btn(type='submit', value='Subscribe', name='subscribe')

